<a routerLink="/Crud">
  <button mat-raised-button color="primary">Go To Home</button>
</a>
<form [formGroup]="frmGroup" (ngSubmit)="updateEmployee(frmGroup.value)">
  <table width="50%">
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input formControlName="firstName" matInput placeholder="First Name">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!frmGroup.get('firstName').valid && frmGroup.get('firstName').touched">Please enter first name</span>
        </mat-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input formControlName="lastName" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!frmGroup.get('lastName').valid && frmGroup.get('lastName').touched">Please enter last name</span>
        </mat-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!frmGroup.get('email').valid && frmGroup.get('email').touched">Please enter email</span>
        </mat-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input formControlName="phone" matInput placeholder="Contact No">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!frmGroup.get('phone').valid && frmGroup.get('phone').touched">Please enter contact no</span>
        </mat-error>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="content-center">
        <button mat-raised-button color="accent" [disabled]="!frmGroup.valid">Submit</button>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
</form>